


<img width="300" height="auto" src="{{asset('images/vehicule/'~ vehicule.image )}}" class="img-fluid" alt="...">
        {{ form_start(form) }}
        
            <div class="card-body">
            <div class="row">
                <div class="col form-group py-2">
                    <div>{{ form_label(form.titre) }}</div>
                    <div class="text-danger">{{ form_errors(form.titre) }}</div>
                    <div>{{ form_widget(form.titre) }}</div>
                </div>
                <div class="col form-group py-2">
                    <div>{{ form_label(form.marque) }}</div>
                    <div class="text-danger">{{ form_errors(form.marque) }}</div>
                    <div>{{ form_widget(form.marque) }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col form-group py-2">
                    <div>{{ form_label(form.model) }}</div>
                    <div class="text-danger">{{ form_errors(form.model) }}</div>
                    <div>{{ form_widget(form.model) }}</div>
                </div>
                <div class="col form-group py-2">
                    <div>{{ form_label(form.prix) }}</div>
                    <div class="text-danger">{{ form_errors(form.prix) }}</div>
                    <div>{{ form_widget(form.prix) }}</div>
                </div> 
            </div>
                <div class="col form-group py-2">
                    <div>{{ form_label(form.description) }}</div>
                    <div class="text-danger">{{ form_errors(form.description) }}</div>
                    <div>{{ form_widget(form.description) }}</div>
                </div>
 
                 <div class="form-group py-2">
                    <div>{{ form_label(form.imageFile) }}</div>
                    <div class="text-danger">{{ form_errors(form.imageFile) }}</div>
                    <div>{{ form_widget(form.imageFile) }}</div>
                </div>              
             {{ form_end(form) }}
